.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  height: 95vh;
  width: 99vw;
}

.test1 {
  background-color: tomato;
  height: 50em;
}
.test2 {
  background-color: tomato;
}
.test3 {
  background-color: tomato;
}
